.main {
  border-radius: 0.5rem;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.submain {
  width: 80%;
  height: 100vh;
    border-radius: 1rem;
  box-shadow: -5px -5px 4px #00000080, -5px -5px 4px #ff000030;
  display: flex;
  align-items: center;
}

.cap {
  width: 100%;
  height: 100vh;
  background-color: var(--primary_color);
  border-radius: 1rem;
}

.container_btns {
  width: 94%;
  border-radius: 0.5rem;
  height: 5rem;
  display: flex;
  justify-content: end;
  align-items: center;
}

.create_btn,
.close_btn {
  background-color: var(--primary_color_btn);
  width: 6rem;
  height: 2.2rem;
  font-weight: bold;
  border-radius: 1rem;
  color: #000000;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 4px var(--shadow_color);
  position: absolute;
}

.create_btn {
  width: 12rem;
  bottom: -60px;
  
}
.close_btn{
  top: -60px;
}

.create_btn:hover,
.close_btn:hover {
  background-color: var(--secondary_color_btn);
  color: #ffffff;
  border: none;
  font-weight: bold;
  font-size: 1.1rem;
}

.container_inputs {
  width: 850px;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 200px;
  
}

.title,
.price,
.category,
.description,
.image,
.cantidad {
  border-radius: 1rem;
  height: 2rem;
  width: 90%;
  border: none;
  border-bottom: 3px solid #ff000030;
  background-color: var(--secondary_color);
  outline: none;
  box-shadow: 2px 2px 4px #000000;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  color: #000000;
}

.description {
  resize: none;
  height: 6rem;
}

.nameText {
  font-size: 1.2rem;
  text-shadow: 1px 4px 4px #00000099;
  color: #000000;
  align-self: start;
  margin-left: 60px;
}

.close_btnR{
    display: none;
}

@media (max-width:1274px) {
  .container_inputs {
    top: 20px;
    left: 100px;
    
  }
  
}
@media (max-width:1152px) {
  .close_btn{
    display: none;
  }

  .close_btnR{
     display: flex;
     justify-content: center;
     align-items: center;
     position: absolute;
     top: -70px;
     right: 80px;;
     border-radius: 50%;
     font-size: 1.5rem;
     width: 4rem;
     height: 4rem;
     background-color: var(--primary_color_btn);
     border: none;
     box-shadow: 2px 2px 4px var(--shadow_color);
  }

  .container_inputs {
    width: 100%;
    top: 20px;
    left: 10px;
    
  }

  .title,
  .price,
  .category,
  .description,
  .image,
  .cantidad {
  width: 50%;
}
.nameText {
  align-self: center;
  margin-left: 0;
}
  
}

@media (max-width:710px) {
  .nameText {
    font-size: .9rem;
  }

  .close_btnR{
    left: 40px;
    top: 5px;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
  }

  
  
  
}
@media (max-width: 405px) {
  .create_btn{
    width: 4rem;
  }
  
}

/* CSS ERROR */

.errorTitle,
.errorPrice,
.errorCategory,
.errorImage,
.errorCantidad{
  color: var(--error_color);
}

.errorTitle{
  position: absolute;
  top: 50px;
}
