/*  .home {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    border-radius: 60px;
    padding-top: 30px;
    font-family: 'Exo', sans-serif;
} 
 label{
    color: rgb(65, 65, 66);
    font-size: small;
}
.filters{
    display: flex;
    position: relative;
    width:fit-content;
    align-content: center;
    background-color: rgb(244, 244, 250);
    border: rgb(92, 91, 91) solid 1px;
    border-radius: 5px;
    margin-top: 10px;
    font-size:small;


}
.orders{
    display: flex;
    position: relative;
    width:80%;
    align-content: center;
    background-color: rgb(244, 244, 250);
    border: rgb(92, 91, 91) solid 1px;
    border-radius: 5px;
    margin-top: 10px;
    font-size:small;
}
select {
    font-size: small;
    background-color: rgb(247, 245, 245);
    
}  */