.contenedor{
     /* background-color:  rgb(211, 222, 220); */
    border: solid 2px;
    border-color: #000000;
    border-radius: 2px; 
    display: inline-flex; 
    position: relative;
    box-shadow: 2px 2px 4px #000000;
    
   
    
}
.boton{
    
        background-color: rgb(76, 93, 105);
        width: 6rem;
        height: 2.2rem;
        font-weight:normal;
        border-radius: 2rem;
        color: #e3e8f8;
        border: none;
        cursor: pointer;
        box-shadow: 2px 2px 4px #000000;
        margin-bottom: 50%;
        margin-top: auto;
         
      }
      
      .boton {
        width: 6rem;
      }
      
      .boton:hover {
        background-color: #203562;
        color: #ffffff;
        border: none;
        font-weight: normal;
      }
      .boton span {
          margin-right: 10px;  
      }
      .header{
        background-color:  rgb(211, 222, 220); 
          border-bottom: solid 1.5px #000000;
          text-align: center;
          
          
      }
      .body{
          background-color: rgb(211, 222, 220);
          border-bottom: 1.5px solid black;
          
          

      }
      .datos-container{
          padding: 5px;
          background-color: rgb(247, 246, 242) ;
          border-color: #203562;
          border-radius: 0.5rem;
          border-style: solid;
          box-shadow: 2px 2px 4px #000000;
         
          

      }
      .datos{
          background-color:rgb(230, 243, 241) ;
          border-color: #203562;
          border-style: solid;
          border-radius: 0.5rem;
          padding: 5px;
          margin: 4px;
          
      }
      .imagen-contenedor{
          background-color:white;
          border: #000000;
          border-bottom: solid 1.5px;
      }
      img{
          border: solid 2px rgb(186, 171, 218);
          border-radius: 9999px;
      }
      .envio{
          position:relative;
          display: inline-block;
          padding: 6px;
          align-content:center;
          text-decoration: underline;
          margin-left: auto;
          margin-right: auto;
          align-self: center;
          box-shadow: 2px 2px 4px #000000;
          
          
      }
      p{
          padding: 2px;
          border-top: 0.5px solid #000000;
         
      }
      /* .closeButton{
          color:#000000;
          align-items: center;

      } */


      .titulo{
        

display: grid;



        margin-top: 6%;
        padding: 10px;
       background-color:  rgb(211, 222, 220); 
       border-bottom: solid 1.5px #000000;
       text-align: center;
       border: solid 1.2px;
      border-color: #000000;
       border-radius: 2px; 
       width: 80%;
       margin-right: auto;
       margin-left: auto;
       position:relative;
        padding: 6px;
          align-content:center;
          text-decoration: underline;
          box-shadow: 2px 2px 4px #000000;
      
       
      }
      
      .container-status{
        
        display: grid;
         /* gap:1rem; */
        /* grid-auto-rows: 22rem; */
         grid-template-columns: repeat(auto-fill, minmax(min(100%, 25rem), 1fr)); 


          margin-top: 6%;
         padding: 10px;
        background-color:  rgb(211, 222, 220); 
        border-bottom: solid 1.5px #000000;
        text-align: center;
        border: solid 2px;
       border-color: #000000;
        border-radius: 2px; 
        height:max-content;
        width: 80%;
        margin-right: auto;
       margin-left: auto;
       box-shadow: 2px 2px 4px #000000;
       
      
    
      }
      .datos-estado{
        display: grid;
         /* gap:1rem; */
        grid-auto-rows: 2rem; 
        grid-template-columns: repeat(auto-fill, minmax(min(100%, 25rem), 1fr)); 
        background-color:rgb(211, 222, 220) ;
        /* border: solid 2px rgb(186, 171, 218); */
        border-radius: 0.5rem;
        padding: 5px;
        margin: 4px;
        position: relative;
        
        
        

      }
       .estado {
       
        display: flex;
       align-items: baseline; 
       
       } 
      .pagado{
        display: flex;
        align-items: baseline;
        border-top: solid 0.5px black;
        
      }
      .estado p{
        border:transparent
      }
      .pagado p{
        border: transparent;
      }

      .detalle{
        position: relative;
        padding: 1.5px;
         display: inline-block;
         flex-direction: row;
        background-color:  rgb(211, 222, 220); 
        text-align: left;
        /* border: solid 2px;
       border-color: #000000; */
        border-radius: 0.5rem; 
        margin-right: auto;
       margin-left: auto;
       height:max-content;
        width: 100%;
       align-items: baseline;
       box-shadow: 2px 2px 4px #000000;
      
       
      
       
       
        
        
      }
      
       .detalle h4{
         margin-top: 5%;
         display:grid;
        text-align: center;
        text-decoration: underline 1.5px;
      } 
      .detalle h5 {
        position: relative;
        margin-top: 2%;
         display: inline-block;
         flex-direction: row;
         padding: 5px;
         /* border-bottom: solid 0.5px #203562; */
       
      } 
         .detalle span{
          position: relative;
          display: inline-block;
          flex-direction: row;
         
          
          
         

          
       
      } 
      
      .total{
        
        position: relative;
        padding: 15px;
         display: flex;
         flex-direction: row;
        background-color:  rgb(211, 222, 220); 
        text-align: left;
        border: solid 2px;

       border-color: #000000;
        
        /* margin-right: auto;
       margin-left: auto; */
       height:max-content;
        width: 100%;
       align-items: baseline;
      }
      .boton {
        
        /* background-color: rgb(76, 93, 105); */
        width: 6rem;
        height: 3rem;
        font-weight: medium;
        border-radius: 2rem;
        color: black(76, 93, 105);
        border: none;
        cursor: pointer;
        box-shadow: 2px 2px 4px #000000;
        margin-bottom: 8%;
         
      }
      
      .boton {
        width: 6rem;
      }
      
      .boton:hover {
        background-color: #203562;
        color: #ffffff;
        border: none;
        font-weight: bold;
      }
      .boton span {
          margin-right: 10px;
      }
      .boton-ubicacion{
        display: flex;
        align-items: baseline;
        padding: 0.75rem;
        margin-left: auto;
        margin-right: auto;
        
      }
          
      
      


      
      
      
      
