/* .number{
    display: inline-block;
    
    padding: 2px 4px;
    text-decoration: none;
        border-radius: 2px;
        border-style: solid;
        border-width: 1px;
        border-color: rgb(73, 70, 70);
        background-color: rgb(168, 166, 166);
        color:rgb(82, 78, 78);
        margin:0 4 px;
        position: relative;
        align-content: center;
        
    }
     .paginado{
        color: black;
        
        padding: 8px 16px;
        text-decoration: none;
        border-radius: 2.5px;
        border-style: solid;
        border-width: 2px;
        border-color: rgb(73, 70, 70);
        color:rgb(41, 40, 40); 
        margin:0 4 px;
        position: relative;
        align-content: center;
      } 
      
      .paginado a:hover:not(.active) {
        background-color: #ddd;
        border-radius: 5px;
    } */
    .paginado {
      display: inline-block;
      position: relative;
      align-content: center;
      align-items: center;
      
    }
    
    .number a {
      color: black;
      /* float: left; */
      padding: 8px 16px;
      text-decoration: none;
      border: 1px solid rgb(87, 85, 85);
      position: relative;
        align-content: center;
        margin: 0 4px;
    }
    
    .number a.active {
      background-color:rgb(47, 47, 68);
      color: white;
      border: 1px solid rgb(47, 47, 68);
     
      
    }
    
    .number a:hover:not(.active) {background-color: #ddd;}
    
    .paginado a:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
     
    }
    
    .paginado a:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      
    }