.image-landingpage{
    background-image:url('../assets/buynow.jpeg') ;
  
    border: rgb(48, 47, 47) solid 3px;
    border-radius: 5px ;
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   margin-top: 50px;
    margin-left:150px;
    margin-right: 150px;
    padding: 150px; 
}
.btn btn-primary{
    position:absolute;
    display: inline;
   align-items:center ;
    
}
