
  
  
  .add-button-div {
    width: 100%;
    height: 4rem;
    margin-top: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .add-button{
    cursor: pointer;
    width: 14rem;
    height: 2rem;
    border-radius: 1rem;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: none;
    background-color: var(--primary_color_btn);
    color: #000000;
    font-weight: bold;
    box-shadow: 3px 3px 3px var(--shadow_color);
    
  }

  .add-button:hover {
      background-color: var(--secondary_color_btn);
      color: #ffffff;
      font-size: 1.1rem;
  }

  .btn_edit,
  .btn_delete{
    background-color: var(--primary_color);
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    position: relative;
    border: 1px solid var(--shadow_color);
    border: none;
  }

  .btn_edit:hover,
  .btn_delete:hover{
    background-color: var(--secondary_color);
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    font-weight: bold;
    color: green;
    box-shadow: 1px 1px 2px #000000;
    border-radius: 1rem;
    border: none;
  }

  .contain_btns{
    width: 6rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: .5rem;

  }

  .load_contain{
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .img_load{
      width: 300px;
      height: 300px;
  }

  .containtextheadermodal{
    display: flex;
    justify-content: center;
    
  }
  
  .textheadermodal{
    border-radius: 1rem;
    text-align: center;
    width: 60%;
    color: #03045E;
    text-shadow: 1px 4px 4px #00000099;

  }

  @media (max-width: 710px) {
    .textheadermodal{
    width: 100%;


    }
  }


