.add-button:hover {
    background-color: lightblue;
    transition: 0.3s;
  }
  
  .add-button-div {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-left: 12px;
    float: right;
  }