.image-landingpage{
    background-image:url('../../assets/buynow.jpeg') ;
    object-fit: cover;
    width: 100%;
    height: 91.2%;
    position:absolute;
    z-index: -100;
    border: rgb(48, 47, 47) solid 3px;
    border-radius: 5px ;
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: auto;
    margin-left:auto;
    margin-right: auto;
    padding: auto; 
}
.btn btn-primary{
    position:absolute;
    display: inline;
   align-items:center ;
    
}