.image-landingpage{
    background-image:url('../../assets/America-latina-y-el-caribe-ALC-e1512411080869.jpg') ;
    object-fit: cover;
    width: 50%;
    height: 80vh;
    position:absolute;
    z-index: -100;
    border: rgb(48, 47, 47) solid 3px;
    border-radius: 5px ;
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   margin-top: 10px;
    margin-left:150px;
    margin-right: 150px;
    padding: 150px; 
}
.btn btn-primary{
    position:relative;
    margin-bottom: 0px;
    display: inline;
   align-items:center ;

    
}